
body{
  background-image: url('imagens/imagem2.png');
  background-size: cover;
  background-position: center;
  border-image-repeat: no-repeat;
  background-attachment: fixed; 
}
table tr td{

	border: 0px solid black;    /* borda da tabela */
}
table{
	width: 70%;					/* largura da tabela */
	margin: auto;  				/* alinhamento da tabela */
}
.color{
  color: #000000;
}
.btn {
  color: purple;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid purple;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.btn:hover {
  color: white;
}

.btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: 40px;
  transform: skewX(45deg);
  background-color: purple;
  z-index: -1;
  transition: all 1s;
}

.btn:hover::before {
  width: 160%;
}
img{
  width: 1100px;               /* altura da tabela*/
  height: 500px;               /* largura da tabela*/
  transform: rotate(deg);   /*rotacione a imagem*/
  border-radius: 30px;         /*arredonda as bordas da imagem*/
  display: block;              /* o elemento ocupa toda a larguro, empurra outros elementos para baixo */
  margin-left: auto;           /* alinhamento a esquerda */
  margin-right: auto;          /* alinhamento a direita */
  margin-top: auto;            /* alinhamento no topo*/
  margin-bottom: auto;         /* alinhamento em baixo*/
}
.dsd{
  width: 500px;
  height: 400px;
}



